doctype
head
	title= vesper
	meta(charset='utf-8')
	link(rel='stylesheet' href='/css/styles.css')
	script(src="/js/jquery-2.1.0.min.js")
	script(src="/js/jquery.isotope.min.js")
	script(src="/js/jquery.transit.min.js")
	script(src="/js/jquery.ba-bbq.min.js")
	script(src="/js/myisotope.js")

body
	#wrap
	.left-col
		header
			.logo
				a
				img(src= "img/st-nick_logo.png")
					
			nav
				ul
					each link in links
						li: a(href=link)= link
	
	.right-col
		if (page=="project")
			.about-text 
				
				p(class='big')= content1
				p= content2
				p= link



					




			



					


